@import url('http://fonts.googleapis.com/css?family=Lato:400,700,700italic');
/*
	Kube Framework 4
*/
/* =Reset
-----------------------------------------------------------------------------*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
html,
body,
div,
span,
object,
iframe,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
a:active,
a:hover {
  outline: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
embed,
object,
iframe,
audio,
video,
canvas,
progress,
meter,
output,
textarea {
  display: block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
/* To prevent some browsers from inserting quotes on q and p */
blockquote,
q {
  quotes: none;
}
blockquote p:before,
blockquote p:after,
q:before,
q:after {
  content: '';
  content: none;
}
/* Table reset */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption,
th,
td {
  text-align: left;
  vertical-align: top;
}
thead th,
thead td {
  font-weight: bold;
  vertical-align: bottom;
}
/* Image inside */
a img,
th img,
td img {
  vertical-align: top;
}
button,
input,
select,
textarea {
  margin: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}
/* Normalize buttons in IE */
button {
  width: auto;
  overflow: visible;
}
/* Hand cursor on clickable controls */
input[type="reset"],
input[type="submit"],
input[type="file"],
input[type="radio"],
input[type="checkbox"],
select,
button {
  cursor: pointer;
}
/* Trick with vertical align for radio and checkbox  */
input[type="radio"],
input[type="checkbox"] {
  font-size: 110%;
  position: relative;
  top: -1px;
  margin-right: 3px;
}
/* Normalize search fields */
input[type="search"] {
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
/* Normalize horizontal line */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ddd;
}
/* Responsive media */
img,
video,
audio,
embed,
object {
  max-width: 100%;
}
img,
video,
embed,
object {
  height: auto;
}
embed,
object {
  height: 100%;
}
img {
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}
/* =Typography
-----------------------------------------------------------------------------*/
body {
  font-family: "Helvetica Neue", Helvetica, Tahoma, sans-serif;
  font-size: 0.9375em;
  line-height: 1.65em;
  background: #ffffff;
  color: #222222;
}
/* =Links
-----------------------------------------------------------------------------*/
a {
  color: #134da5;
}
a:focus,
a:hover {
  color: #de2c3b;
}
/* =Headings
-----------------------------------------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Helvetica Neue", Helvetica, Tahoma, sans-serif;
  font-weight: bold;
  color: #000000;
  text-rendering: optimizeLegibility;
  margin: 0 0 .5em 0;
}
h1,
.h1,
h2,
.h2 {
  line-height: 1.1;
}
h3,
.h3,
h4,
.h4 {
  line-height: 1.3;
}
h1,
.h1 {
  font-size: 2.25em;
}
h2,
.h2 {
  font-size: 1.5em;
  margin-bottom: .7em;
}
h3,
.h3 {
  font-size: 1.3125em;
}
h4,
.h4 {
  font-size: 1.125em;
}
h5,
.h5 {
  font-size: 1em;
}
h6,
.h6 {
  font-size: 0.75em;
  text-transform: uppercase;
}
/* =Lead
-----------------------------------------------------------------------------*/
.lead {
  font-size: 1.3125em;
  line-height: 1.5;
  margin-bottom: 1.1em;
}
/* =Line height and margin
-----------------------------------------------------------------------------*/
p,
ul,
ol,
dl,
dd,
dt,
blockquote,
td,
th {
  line-height: 1.65em;
}
ul,
ol,
ul ul,
ol ol,
ul ol,
ol ul {
  margin: 0 0 0 3.3em;
}
ul li,
ol li {
  text-align: left;
}
ol ol li {
  list-style-type: lower-alpha;
}
ol ol ol li {
  list-style-type: lower-roman;
}
p,
ul,
ol,
dl,
blockquote,
hr,
pre,
table,
form,
fieldset,
figure,
address {
  margin-bottom: 1.65em;
}
/* =Blockquote
-----------------------------------------------------------------------------*/
blockquote {
  position: relative;
  font-style: italic;
  font-size: 1.125em;
  margin-left: 2.475em;
  padding-left: 1.65em;
  border-left: 2px solid #dddddd;
}
blockquote p {
  margin-bottom: .5em;
}
blockquote small,
cite {
  color: rgba(0, 0, 0, 0.4);
  font-style: italic;
}
small,
blockquote cite {
  font-size: 12.75px;
  line-height: 1;
}
/* =Address
-----------------------------------------------------------------------------*/
address {
  font-style: normal;
}
/* =Definition list
-----------------------------------------------------------------------------*/
dl dt {
  font-weight: bold;
}
dd {
  margin-left: 1.65em;
}
/* =Text-level
-----------------------------------------------------------------------------*/
s,
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted #0f0f0f;
  cursor: help;
}
strong,
b {
  font-weight: bold;
}
em,
i {
  font-style: italic;
}
sub,
sup {
  font-size: 11.25px;
  line-height: 0;
  position: relative;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
figcaption {
  margin: .3em 0;
  font-size: 12.75px;
  font-style: italic;
}
ins,
u {
  text-decoration: underline;
}
mark {
  background-color: #ffc800;
  color: #0f0f0f;
  text-decoration: none;
}
/* =Code
-----------------------------------------------------------------------------*/
pre,
code,
kbd,
samp,
var,
output {
  font-size: 90%;
  font-style: normal;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
pre {
  margin-top: 1.65em;
  font-size: 100%;
  line-height: 1.5;
  color: #222222;
  overflow: auto;
}
code,
samp,
kbd {
  padding: 3px 6px 2px 6px;
  display: inline-block;
  line-height: 1;
  border-radius: 2px;
}
code {
  background: #f4f4f4;
  border: 1px solid #d4d4d4;
}
pre code {
  font-size: 100%;
  border: none;
  padding: 0;
  background: none;
  line-height: 1.65em;
}
var {
  color: rgba(0, 0, 0, 0.5);
}
samp {
  background: #d3e3fb;
  border: 1px solid #b2cef8;
}
kbd {
  background: #0f0f0f;
  color: rgba(255, 255, 255, 0.85);
  white-space: nowrap;
}
/* =Form
-----------------------------------------------------------------------------*/
button:active,
button:focus {
  outline: none;
}
textarea,
select {
  font-family: "Helvetica Neue", Helvetica, Tahoma, sans-serif;
  font-size: 1em;
  box-shadow: none;
}
textarea,
select[multiple],
select[multiple="multiple"] {
  padding: 0.3em 0.35em;
  line-height: 1.35em;
  width: 100%;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="phone"],
input[type="tel"],
input[type="number"],
input[type="datetime"],
input[type="date"],
input[type="month"],
input[type="color"],
input[type="time"],
input[type="search"],
input[type="datetime-local"] {
  font-family: "Helvetica Neue", Helvetica, Tahoma, sans-serif;
  font-size: 1em;
  box-shadow: none;
  padding: 0.3em 0.35em;
  line-height: 1.65em;
  border-radius: 0;
  outline: none;
}
select[multiple],
select[multiple="multiple"],
textarea,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="phone"],
input[type="tel"],
input[type="number"],
input[type="datetime"],
input[type="date"],
input[type="month"],
input[type="color"],
input[type="time"],
input[type="search"],
input[type="datetime-local"] {
  background: #ffffff;
  border: 1px solid #cccccc;
  position: relative;
  z-index: 2;
  -webkit-appearance: none;
}
textarea[disabled],
input[type="text"][disabled],
input[type="password"][disabled],
input[type="email"][disabled],
input[type="url"][disabled],
input[type="phone"][disabled],
input[type="tel"][disabled],
input[type="number"][disabled],
input[type="datetime"][disabled],
input[type="date"][disabled],
input[type="month"][disabled],
input[type="color"][disabled],
input[type="time"][disabled],
input[type="search"][disabled],
input[type="datetime-local"][disabled] {
  resize: none;
  color: rgba(0, 0, 0, 0.5);
}
select[disabled],
input[type="checkbox"][disabled],
input[type="radio"][disabled] {
  cursor: default;
}
input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input[type="range"] {
  position: relative;
  top: 3px;
}
select {
  margin-bottom: 0 !important;
}
fieldset {
  padding: 1.65em;
  margin-bottom: 1.65em;
  border: 1px solid #cccccc;
}
fieldset *:last-child {
  margin-bottom: 0 !important;
}
legend {
  font-weight: bold;
  padding: 0 1em;
  margin-left: -1em;
}
/* =Tables
-----------------------------------------------------------------------------*/
table {
  max-width: 100%;
  width: 100%;
  empty-cells: show;
}
table caption {
  text-transform: uppercase;
  padding: 0 1.1em;
  color: rgba(0, 0, 0, 0.4);
  font-size: 12.75px;
}
table th,
table td {
  border-bottom: 1px solid #eeeeee;
  padding: 0.825em 1.1em;
}
table tfoot th,
table tfoot td {
  color: rgba(0, 0, 0, 0.4);
}
/* =Grid
-----------------------------------------------------------------------------*/
.units-container:after,
.units-row:after {
  content: "";
  display: table;
  clear: both;
}
.units-container {
  /* it's the trick to not collapse padding-top in the child element */
  padding-top: 1px;
  margin-top: -1px;
}
.units-row {
  margin-bottom: 1.65em;
}
.width-100,
.unit-100 {
  width: 100%;
}
.width-90,
.unit-90 {
  width: 90%;
}
.width-80,
.unit-80 {
  width: 80%;
}
.width-75,
.unit-75 {
  width: 75%;
}
.width-70,
.unit-70 {
  width: 70%;
}
.width-66,
.unit-66 {
  width: 66.6%;
}
.width-65,
.unit-65 {
  width: 65%;
}
.width-60,
.unit-60 {
  width: 60%;
}
.width-50,
.unit-50 {
  width: 50%;
}
.width-40,
.unit-40 {
  width: 40%;
}
.width-35,
.unit-35 {
  width: 35%;
}
.width-33,
.unit-33 {
  width: 33.3%;
}
.width-30,
.unit-30 {
  width: 30%;
}
.width-25,
.unit-25 {
  width: 25%;
}
.width-20,
.unit-20 {
  width: 20%;
}
.width-10,
.unit-10 {
  width: 10%;
}
.units-row .unit-90,
.units-row .unit-80,
.units-row .unit-75,
.units-row .unit-70,
.units-row .unit-66,
.units-row .unit-65,
.units-row .unit-60,
.units-row .unit-50,
.units-row .unit-40,
.units-row .unit-35,
.units-row .unit-33,
.units-row .unit-30,
.units-row .unit-25,
.units-row .unit-20,
.units-row .unit-10 {
  float: left;
  margin-left: 3%;
}
.units-row .unit-90:first-child,
.units-row .unit-80:first-child,
.units-row .unit-75:first-child,
.units-row .unit-70:first-child,
.units-row .unit-66:first-child,
.units-row .unit-65:first-child,
.units-row .unit-60:first-child,
.units-row .unit-50:first-child,
.units-row .unit-40:first-child,
.units-row .unit-35:first-child,
.units-row .unit-33:first-child,
.units-row .unit-30:first-child,
.units-row .unit-25:first-child,
.units-row .unit-20:first-child,
.units-row .unit-10:first-child {
  margin-left: 0;
}
.units-row .unit-90 {
  width: 89.7%;
}
.units-row .unit-80 {
  width: 79.4%;
}
.units-row .unit-75 {
  width: 74.25%;
}
.units-row .unit-70 {
  width: 69.1%;
}
.units-row .unit-66 {
  width: 65.66666667%;
}
.units-row .unit-65 {
  width: 65.66666667%;
}
.units-row .unit-60 {
  width: 58.8%;
}
.units-row .unit-50 {
  width: 48.5%;
}
.units-row .unit-40 {
  width: 38.2%;
}
.units-row .unit-35 {
  width: 31.33333333%;
}
.units-row .unit-33 {
  width: 31.33333333%;
}
.units-row .unit-30 {
  width: 27.9%;
}
.units-row .unit-25 {
  width: 22.75%;
}
.units-row .unit-20 {
  width: 17.6%;
}
.units-row .unit-10 {
  width: 7.3%;
}
.unit-push-90,
.unit-push-80,
.unit-push-75,
.unit-push-70,
.unit-push-66,
.unit-push-65,
.unit-push-60,
.unit-push-50,
.unit-push-40,
.unit-push-35,
.unit-push-33,
.unit-push-30,
.unit-push-25,
.unit-push-20,
.unit-push-10 {
  position: relative;
}
.unit-push-90 {
  left: 92.7%;
}
.unit-push-80 {
  left: 82.4%;
}
.unit-push-75 {
  left: 77.25%;
}
.unit-push-70 {
  left: 72.1%;
}
.unit-push-66 {
  left: 68.66666667%;
}
.unit-push-65 {
  left: 68.66666667%;
}
.unit-push-60 {
  left: 61.8%;
}
.unit-push-50 {
  left: 51.5%;
}
.unit-push-40 {
  left: 41.2%;
}
.unit-push-35 {
  left: 34.33333333%;
}
.unit-push-33 {
  left: 34.33333333%;
}
.unit-push-30 {
  left: 30.9%;
}
.unit-push-25 {
  left: 25.75%;
}
.unit-push-20 {
  left: 20.6%;
}
.unit-push-10 {
  left: 10.3%;
}
.units-row .unit-push-right {
  float: right;
}
.units-row .unit-role-right {
  margin-left: 3%;
  float: right;
}
.units-row .unit-role-left {
  margin-left: 0;
}
.centered,
.unit-centered {
  float: none !important;
  margin: 0 auto !important;
}
.unit-padding {
  padding: 1.65em;
}
.units-padding .unit-100,
.units-padding .unit-90,
.units-padding .unit-80,
.units-padding .unit-75,
.units-padding .unit-70,
.units-padding .unit-66,
.units-padding .unit-65,
.units-padding .unit-60,
.units-padding .unit-50,
.units-padding .unit-40,
.units-padding .unit-35,
.units-padding .unit-33,
.units-padding .unit-30,
.units-padding .unit-25,
.units-padding .unit-20,
.units-padding .unit-10 {
  padding: 1.65em;
}
.units-split .unit-90,
.units-split .unit-80,
.units-split .unit-75,
.units-split .unit-70,
.units-split .unit-66,
.units-split .unit-65,
.units-split .unit-60,
.units-split .unit-50,
.units-split .unit-40,
.units-split .unit-35,
.units-split .unit-33,
.units-split .unit-30,
.units-split .unit-25,
.units-split .unit-20,
.units-split .unit-10 {
  margin-left: 0;
}
.units-split .unit-90 {
  width: 90%;
}
.units-split .unit-80 {
  width: 80%;
}
.units-split .unit-75 {
  width: 75%;
}
.units-split .unit-70 {
  width: 70%;
}
.units-split .unit-66 {
  width: 66.6%;
}
.units-split .unit-65 {
  width: 65%;
}
.units-split .unit-60 {
  width: 60%;
}
.units-split .unit-50 {
  width: 50%;
}
.units-split .unit-40 {
  width: 40%;
}
.units-split .unit-35 {
  width: 35%;
}
.units-split .unit-33 {
  width: 33.3%;
}
.units-split .unit-30 {
  width: 30%;
}
.units-split .unit-25 {
  width: 25%;
}
.units-split .unit-20 {
  width: 20%;
}
.units-split .unit-10 {
  width: 10%;
}
/* =Blocks
-----------------------------------------------------------------------------*/
.blocks-2,
.blocks-3,
.blocks-4,
.blocks-5,
.blocks-6 {
  padding-left: 0;
  list-style: none;
  margin-left: -3%;
}
.blocks-2:after,
.blocks-3:after,
.blocks-4:after,
.blocks-5:after,
.blocks-6:after {
  content: "";
  display: table;
  clear: both;
}
.blocks-2 > li,
.blocks-3 > li,
.blocks-4 > li,
.blocks-5 > li,
.blocks-6 > li {
  height: auto;
  float: left;
  margin-bottom: 1.65em;
  margin-left: 3%;
}
.blocks-2 > li ul,
.blocks-3 > li ul,
.blocks-4 > li ul,
.blocks-5 > li ul,
.blocks-6 > li ul {
  list-style-type: disc;
}
.blocks-2 > li ul ul,
.blocks-3 > li ul ul,
.blocks-4 > li ul ul,
.blocks-5 > li ul ul,
.blocks-6 > li ul ul {
  list-style-type: circle;
}
.blocks-2 > li li,
.blocks-3 > li li,
.blocks-4 > li li,
.blocks-5 > li li,
.blocks-6 > li li {
  float: none;
  margin: 0;
}
.blocks-2 > li {
  width: 47%;
}
.blocks-3 > li {
  width: 30.33333333%;
}
.blocks-4 > li {
  width: 22%;
}
.blocks-5 > li {
  width: 17%;
}
.blocks-6 > li {
  width: 13.66666667%;
}
.block-first {
  clear: both;
}
/* =Tables
-----------------------------------------------------------------------------*/
table.table-bordered td,
table.table-bordered th {
  border: 1px solid #eeeeee;
}
table.table-simple td,
table.table-simple th,
table.table-simple caption {
  border: none;
  padding-left: 0;
}
table.table-flat td,
table.table-flat th,
table.table-flat caption {
  border: none;
  padding: 0;
}
table.table-stroked td,
table.table-stroked th {
  border-bottom: 1px solid #eeeeee;
}
table.table-stripped tbody tr:nth-child(odd) td {
  background: #f8f8f8;
}
table.table-hovered tbody tr:hover td {
  background-color: #f4f4f4;
}
/* Responsive Tables */
.table-container {
  width: 100%;
  overflow: auto;
  margin-bottom: 1.65em;
}
.table-container table {
  margin-bottom: 0;
}
.table-container::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 14px;
  height: 14px;
}
.table-container::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 3px solid #fff;
  background-color: rgba(0, 0, 0, 0.3);
}
/* =Forms
-----------------------------------------------------------------------------*/
.forms .btn,
.forms input[type="submit"].btn,
.forms button,
.forms input[type="submit"],
.forms input[type="reset"] {
  padding: 0.3625em 1.3em;
}
.forms .btn-outline {
  padding: 0.3em 1.3em;
}
.forms .btn-outline.bold {
  padding: 0.2375em 1.3em;
}
.forms label {
  display: block;
  margin-bottom: 1.1em;
}
.forms input[type="text"],
.forms input[type="password"],
.forms input[type="email"],
.forms input[type="url"],
.forms input[type="phone"],
.forms input[type="tel"],
.forms input[type="number"],
.forms input[type="datetime"],
.forms input[type="date"],
.forms input[type="month"],
.forms input[type="color"],
.forms input[type="time"],
.forms input[type="search"],
.forms input[type="range"],
.forms input[type="file"],
.forms input[type="datetime-local"],
.forms textarea,
.forms select {
  display: block;
}
.forms-inline input[type="text"],
.forms-inline-list input[type="text"],
.forms-inline input[type="password"],
.forms-inline-list input[type="password"],
.forms-inline input[type="email"],
.forms-inline-list input[type="email"],
.forms-inline input[type="url"],
.forms-inline-list input[type="url"],
.forms-inline input[type="phone"],
.forms-inline-list input[type="phone"],
.forms-inline input[type="tel"],
.forms-inline-list input[type="tel"],
.forms-inline input[type="number"],
.forms-inline-list input[type="number"],
.forms-inline input[type="datetime"],
.forms-inline-list input[type="datetime"],
.forms-inline input[type="date"],
.forms-inline-list input[type="date"],
.forms-inline input[type="month"],
.forms-inline-list input[type="month"],
.forms-inline input[type="color"],
.forms-inline-list input[type="color"],
.forms-inline input[type="time"],
.forms-inline-list input[type="time"],
.forms-inline input[type="search"],
.forms-inline-list input[type="search"],
.forms-inline input[type="range"],
.forms-inline-list input[type="range"],
.forms-inline input[type="file"],
.forms-inline-list input[type="file"],
.forms-inline input[type="datetime-local"],
.forms-inline-list input[type="datetime-local"],
.forms-inline textarea,
.forms-inline-list textarea,
.forms-inline select,
.forms-inline-list select {
  display: inline-block;
}
.forms-list,
.forms-inline,
.forms-inline-list {
  margin: 0;
  padding: 0;
  margin-bottom: 1.1em;
  list-style: none;
}
.forms-list label,
.forms-inline label,
.forms-inline-list li,
.forms-inline-list li label {
  display: inline-block;
  margin-bottom: 0;
}
.forms-inline-list li label {
  margin-right: 0.825em;
}
.forms-inline-list li {
  margin-bottom: 3px;
}
.forms-list li {
  margin-bottom: 6px;
}
.forms-desc {
  margin-top: 4px;
  color: rgba(0, 0, 0, 0.4);
  font-size: 12.75px;
  line-height: 1.4em;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="phone"],
input[type="tel"],
input[type="number"],
input[type="datetime"],
input[type="date"],
input[type="month"],
input[type="color"],
input[type="time"],
input[type="search"],
input[type="datetime-local"],
textarea {
  -moz-transition: border ease 0.5s;
  transition: border ease 0.5s;
}
/* States */
.error,
.success {
  font-weight: normal;
  font-size: 12.75px;
}
input.input-error,
textarea.input-error,
select.input-error,
.input-error {
  border-color: #de2c3b;
  box-shadow: 0 0 0 2px rgba(222, 44, 59, 0.3), 0 1px 2px rgba(0, 0, 0, 0.2) inset;
}
input.input-success,
textarea.input-success,
select.input-success,
.input-success {
  border-color: #2c9f42;
  box-shadow: 0 0 0 2px rgba(44, 159, 66, 0.3), 0 1px 2px rgba(0, 0, 0, 0.2) inset;
}
input.input-gray,
textarea.input-gray,
select.input-gray,
.input-gray {
  border-color: #b3b6b7;
  box-shadow: 0 0 0 2px rgba(179, 182, 183, 0.4), 0 1px 2px rgba(0, 0, 0, 0.2) inset;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="phone"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
input[type="datetime"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="color"]:focus,
input[type="time"]:focus,
input[type="search"]:focus,
input[type="datetime-local"]:focus,
textarea:focus {
  outline: none;
  border-color: #2575ed;
  box-shadow: 0 0 0 2px rgba(37, 117, 237, 0.3), 0 1px 2px rgba(0, 0, 0, 0.2) inset;
}
/*
	Search
*/
input.input-search,
input[type="search"] {
  padding-right: .5em;
  padding-left: .5em;
  margin-bottom: 0;
  border-radius: 15px;
}
input.input-on-black {
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.35);
}
input.input-on-black::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
input.input-on-black::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
input.input-on-black:focus,
input.input-on-black.active {
  border: 1px solid #fff;
  background: #fff;
  box-shadow: none;
}
input.input-on-black:focus::-webkit-input-placeholder,
input.input-on-black.active::-webkit-input-placeholder {
  color: #aaa;
}
input.input-on-black:focus::-moz-placeholder,
input.input-on-black.active::-moz-placeholder {
  color: #aaa;
}
/* Sizes */
input.input-big {
  font-size: 18px;
}
input.input-small {
  font-size: 12.75px;
}
input.input-smaller {
  font-size: 11.25px;
}
/* Append & Prepend */
.input-groups {
  display: table !important;
}
.input-groups input {
  width: 100%;
}
.input-groups input,
.input-groups .input-append,
.input-groups .input-prepend,
.input-groups .btn-append {
  display: table-cell !important;
}
.input-groups .btn-append,
.input-groups .input-append,
.input-groups .input-prepend {
  width: 1%;
  vertical-align: middle;
}
.input-groups .input-append,
.input-groups .input-prepend {
  background-color: #f4f4f4;
  border: 1px solid #d4d4d4;
  margin: 0;
  padding: .45em .75em .15em .75em;
  color: rgba(0, 0, 0, 0.6);
  line-height: 1.65em;
  font-size: 12.75px;
  white-space: nowrap;
}
.input-groups .input-prepend {
  border-right: none;
}
.input-groups .input-append {
  position: relative;
  z-index: 1;
  border-left: none;
}
.input-groups .btn-append .btn {
  display: block;
  height: auto;
  border-radius: 0 2px 2px 0;
}
/* =Navs
-----------------------------------------------------------------------------*/
/* NavBar */
.navbar {
  font-size: 105%;
  margin-bottom: 1.65em;
}
.navbar:after {
  content: "";
  display: table;
  clear: both;
}
.navbar.navbar-left {
  float: left;
}
.navbar.navbar-right {
  float: right;
}
.navbar ul {
  list-style: none;
  margin: 0;
}
.navbar ul:after {
  content: "";
  display: table;
  clear: both;
}
.navbar li {
  float: left;
  margin-right: 1.65em;
}
.navbar.navbar-right li {
  margin-right: 0;
  margin-left: 1.65em;
}
.navbar a,
.navbar span {
  display: block;
  text-decoration: none;
}
.navbar a:hover {
  color: #de2c3b;
  text-decoration: underline;
}
.navbar li.active a,
.navbar span {
  text-decoration: none;
  cursor: text;
  color: rgba(0, 0, 0, 0.4);
}
.navigation-toggle {
  display: none;
  text-transform: uppercase;
  position: relative;
  color: #0f0f0f;
  background-color: #ffffff;
}
.navigation-toggle:after {
  position: absolute;
  z-index: 1;
  top: 50%;
  margin-top: -12px;
  left: 10px;
  content: "\2630";
  font-size: 24px;
  line-height: 1;
}
.navigation-toggle.navigation-toggle-black {
  background-color: #0f0f0f;
  color: #ffffff;
}
.navigation-toggle.navigation-toggle-show {
  margin-bottom: 1.65em;
}
.navigation-toggle span {
  position: relative;
  z-index: 2;
  cursor: pointer;
  display: block;
  padding: 10px 20px 10px 40px;
}
.navigation-fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
}
/* Pills */
.navbar-pills a,
.navbar-pills span {
  padding: 0.825em 1.65em;
}
.navbar-pills a:hover {
  color: #0f0f0f;
  background: #eee;
}
.navbar-pills li.active a,
.navbar-pills span {
  text-decoration: none;
  cursor: text;
  color: rgba(0, 0, 0, 0.4);
  background: #eee;
}
.navbar-pills li {
  margin-right: 1px;
}
.navbar-pills.navbar-right li {
  margin-left: 1px;
}
/* Fullwidth */
.fullwidth ul {
  width: 100%;
}
.fullwidth li {
  float: none !important;
  margin: 0;
  display: table-cell;
  width: 1%;
  text-align: center;
}
.fullwidth li a,
.fullwidth li span {
  display: block;
}
/* Vertical */
.nav {
  margin-bottom: 1.65em;
}
.nav ul {
  list-style: none;
  margin: 0;
}
.nav ul li ul {
  margin-left: 2em;
  font-size: .95em;
}
.nav a,
.nav span {
  display: block;
  padding: .5em 0;
}
.nav a {
  color: #0f0f0f;
  text-decoration: none;
}
.nav a:hover {
  color: #de2c3b;
  text-decoration: underline;
}
.nav li.active a,
.nav span {
  text-decoration: none;
  cursor: text;
  color: rgba(0, 0, 0, 0.4);
}
.nav i.fa {
  width: 1.65em;
}
/* Stacked */
.nav-stacked li {
  margin-bottom: 1px;
}
.nav-stacked a,
.nav-stacked span {
  padding: .6em .7em;
}
.nav-stacked a {
  background: #f6f6f6;
}
.nav-stacked a:hover {
  color: #000;
  background: #eee;
}
.nav-stacked li.active a,
.nav-stacked span {
  background: #ffffff;
  text-decoration: none;
  cursor: text;
  color: rgba(0, 0, 0, 0.3);
}
/* Stats */
.nav-stats li {
  position: relative;
}
.nav-stats a,
.nav-stats span {
  padding-right: 50px;
}
.nav-stats sup,
.nav-stats .badge {
  position: absolute;
  top: 50%;
  right: 0;
}
.nav-stats sup {
  color: rgba(0, 0, 0, 0.4);
}
.nav-stats .badge {
  margin-top: -8px;
}
/* =Tabs
-----------------------------------------------------------------------------*/
.nav-tabs {
  border-bottom: 1px solid #e3e3e3;
  margin-bottom: 1.65em;
}
.nav-tabs:after {
  content: "";
  display: table;
  clear: both;
}
.nav-tabs ul {
  list-style: none;
  margin: 0;
}
.nav-tabs li {
  float: left;
  margin-right: 2px;
}
.nav-tabs a,
.nav-tabs span {
  display: block;
  line-height: 1;
  padding: 0.825em 1.65em;
  border: 1px solid transparent;
}
.nav-tabs a {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}
.nav-tabs a:focus,
.nav-tabs a:hover {
  color: #0f0f0f;
  text-decoration: underline;
  background-color: #eee;
}
.nav-tabs li.active a,
.nav-tabs span {
  color: #0f0f0f;
  background: #fff;
  position: relative;
  border: 1px solid #ddd;
  border-bottom: 1px solid #fff;
  bottom: -1px;
  cursor: default;
  text-decoration: none;
}
/* =Breadcrumbs
-----------------------------------------------------------------------------*/
.breadcrumbs {
  margin-bottom: 1.65em;
}
.breadcrumbs:after {
  content: "";
  display: table;
  clear: both;
}
.breadcrumbs ul {
  font-size: .9em;
  color: rgba(0, 0, 0, 0.4);
  list-style: none;
  margin: 0;
}
.breadcrumbs ul:after {
  content: "";
  display: table;
  clear: both;
}
.breadcrumbs li {
  float: left;
  margin-right: 5px;
}
.breadcrumbs li + li:before {
  content: " > ";
  color: #aaa;
  font-size: 12px;
  margin: 0 7px 0 5px;
  position: relative;
  top: -1px;
}
.breadcrumbs.breadcrumbs-path li + li:before {
  content: " / ";
  top: 0;
}
.breadcrumbs a {
  color: #0f0f0f;
  text-decoration: none;
}
.breadcrumbs a:hover {
  color: #0f0f0f;
  text-decoration: underline;
}
.breadcrumbs li.active a,
.breadcrumbs span,
.breadcrumbs li.active a:hover {
  text-decoration: none;
  cursor: text;
  color: rgba(0, 0, 0, 0.4);
}
/* =Pagination
-----------------------------------------------------------------------------*/
.pagination {
  position: relative;
  left: -9px;
  margin-left: 0;
  list-style: none;
}
.pagination:after {
  content: "";
  display: table;
  clear: both;
}
.pagination li {
  float: left;
  margin-right: 2px;
}
.pagination a,
.pagination span {
  display: block;
  padding: 7px 9px;
  line-height: 1;
  border-radius: 2px;
  color: #0f0f0f;
  text-decoration: none;
}
.pagination span,
.pagination li.active a,
.pagination li.active a:hover {
  color: #ffffff;
  background-color: #0f0f0f;
  cursor: text;
}
.pagination a:focus,
.pagination a:hover {
  text-decoration: none;
  background-color: #0f0f0f;
  color: #fff;
}
/* =Buttons
-----------------------------------------------------------------------------*/
.btn,
input[type="submit"].btn {
  display: inline-block;
  vertical-align: top;
  font-family: "Helvetica Neue", Helvetica, Tahoma, sans-serif;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.65em;
  text-align: center;
  text-decoration: none;
  color: #222222;
  -webkit-appearance: none;
  outline: none;
  margin: 0;
  border: none;
  border-radius: 2px;
  box-shadow: none;
  cursor: pointer;
  background: #e0e3e5;
  padding: 0.55em 2.5em;
}
.btn:hover,
input[type="submit"].btn:hover {
  color: rgba(0, 0, 0, 0.5);
  background: #b3b6b7;
}
.btn::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.btn-big,
input[type="submit"].btn-big {
  font-size: 18px;
}
.btn-small,
input[type="submit"].btn-small {
  font-size: 12.75px;
}
.btn-smaller,
input[type="submit"].btn-smaller {
  font-size: 11.25px;
  vertical-align: baseline;
}
.btn-round {
  border-radius: 15px;
}
.btn-outline,
input[type="submit"].btn-outline {
  background: none;
  padding: 0.4875em 2.5em;
  border: 1px solid #0f0f0f;
}
.btn-outline:hover,
input[type="submit"].btn-outline:hover {
  border-color: #b3b6b7;
}
.btn-outline.btn-active {
  padding: 0.55em 2.5em;
}
.btn-outline.bold {
  border-width: 2px;
  padding: 0.425em 2.5em;
}
.btn-active,
.btn[disabled],
.btn-disabled {
  background: none;
  background: #b3b6b7;
  color: rgba(0, 0, 0, 0.5);
}
.btn-active:hover,
.btn[disabled]:hover,
.btn-disabled:hover {
  color: rgba(0, 0, 0, 0.5);
  background: #b3b6b7;
}
.btn-active {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4) inset;
}
.btn-outline.btn[disabled],
.btn-outline.btn-disabled {
  background: none;
  box-shadow: none;
  color: rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.btn-outline.btn-active {
  background: none;
  color: rgba(0, 0, 0, 0.4);
  border: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2) inset;
}
.btn[disabled],
.btn-disabled {
  cursor: default;
  box-shadow: none;
}
.btn-blue,
input[type="submit"].btn-blue {
  color: rgba(255, 255, 255, 0.9);
  background: #2575ed;
}
.btn-blue:hover,
input[type="submit"].btn-blue:hover {
  color: rgba(255, 255, 255, 0.6);
  background: #1a52a5;
}
.btn-blue.btn-active,
input[type="submit"].btn-blue.btn-active {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
}
.btn-blue.btn-active,
input[type="submit"].btn-blue.btn-active,
.btn-blue.btn-disabled,
input[type="submit"].btn-blue.btn-disabled,
.btn-blue.btn[disabled],
input[type="submit"].btn-blue.btn[disabled] {
  color: rgba(255, 255, 255, 0.5);
  background: #1a52a5;
}
.btn-blue.btn-active:hover,
input[type="submit"].btn-blue.btn-active:hover,
.btn-blue.btn-disabled:hover,
input[type="submit"].btn-blue.btn-disabled:hover,
.btn-blue.btn[disabled]:hover,
input[type="submit"].btn-blue.btn[disabled]:hover {
  color: rgba(255, 255, 255, 0.5);
}
.btn-blue.btn-outline,
input[type="submit"].btn-blue.btn-outline {
  background: none;
  border-color: #2575ed;
  color: #2575ed;
}
.btn-blue.btn-outline:hover,
input[type="submit"].btn-blue.btn-outline:hover {
  color: rgba(255, 255, 255, 0.9);
  background: #2575ed;
}
.btn-blue.btn-outline.btn[disabled],
input[type="submit"].btn-blue.btn-outline.btn[disabled],
.btn-blue.btn-outline.btn-disabled,
input[type="submit"].btn-blue.btn-outline.btn-disabled {
  background: none;
  box-shadow: none;
  color: rgba(37, 117, 237, 0.4);
  border: 1px solid rgba(37, 117, 237, 0.3);
}
.btn-blue.btn-outline.btn-active,
input[type="submit"].btn-blue.btn-outline.btn-active {
  background: none;
  color: rgba(37, 117, 237, 0.6);
  border: none;
  box-shadow: 0 1px 3px rgba(26, 82, 165, 0.6) inset;
}
.btn-red,
input[type="submit"].btn-red {
  color: rgba(255, 255, 255, 0.9);
  background: #de2c3b;
}
.btn-red:hover,
input[type="submit"].btn-red:hover {
  color: rgba(255, 255, 255, 0.6);
  background: #b2232f;
}
.btn-red.btn-active,
input[type="submit"].btn-red.btn-active {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
}
.btn-red.btn-active,
input[type="submit"].btn-red.btn-active,
.btn-red.btn-disabled,
input[type="submit"].btn-red.btn-disabled,
.btn-red.btn[disabled],
input[type="submit"].btn-red.btn[disabled] {
  color: rgba(255, 255, 255, 0.5);
  background: #b2232f;
}
.btn-red.btn-active:hover,
input[type="submit"].btn-red.btn-active:hover,
.btn-red.btn-disabled:hover,
input[type="submit"].btn-red.btn-disabled:hover,
.btn-red.btn[disabled]:hover,
input[type="submit"].btn-red.btn[disabled]:hover {
  color: rgba(255, 255, 255, 0.5);
}
.btn-red.btn-outline,
input[type="submit"].btn-red.btn-outline {
  background: none;
  border-color: #de2c3b;
  color: #de2c3b;
}
.btn-red.btn-outline:hover,
input[type="submit"].btn-red.btn-outline:hover {
  color: rgba(255, 255, 255, 0.9);
  background: #de2c3b;
}
.btn-red.btn-outline.btn[disabled],
input[type="submit"].btn-red.btn-outline.btn[disabled],
.btn-red.btn-outline.btn-disabled,
input[type="submit"].btn-red.btn-outline.btn-disabled {
  background: none;
  box-shadow: none;
  color: rgba(222, 44, 59, 0.4);
  border: 1px solid rgba(222, 44, 59, 0.3);
}
.btn-red.btn-outline.btn-active,
input[type="submit"].btn-red.btn-outline.btn-active {
  background: none;
  color: rgba(222, 44, 59, 0.6);
  border: none;
  box-shadow: 0 1px 3px rgba(178, 35, 47, 0.6) inset;
}
.btn-green,
input[type="submit"].btn-green {
  color: rgba(255, 255, 255, 0.9);
  background: #2c9f42;
}
.btn-green:hover,
input[type="submit"].btn-green:hover {
  color: rgba(255, 255, 255, 0.6);
  background: #237f35;
}
.btn-green.btn-active,
input[type="submit"].btn-green.btn-active {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
}
.btn-green.btn-active,
input[type="submit"].btn-green.btn-active,
.btn-green.btn-disabled,
input[type="submit"].btn-green.btn-disabled,
.btn-green.btn[disabled],
input[type="submit"].btn-green.btn[disabled] {
  color: rgba(255, 255, 255, 0.5);
  background: #237f35;
}
.btn-green.btn-active:hover,
input[type="submit"].btn-green.btn-active:hover,
.btn-green.btn-disabled:hover,
input[type="submit"].btn-green.btn-disabled:hover,
.btn-green.btn[disabled]:hover,
input[type="submit"].btn-green.btn[disabled]:hover {
  color: rgba(255, 255, 255, 0.5);
}
.btn-green.btn-outline,
input[type="submit"].btn-green.btn-outline {
  background: none;
  border-color: #2c9f42;
  color: #2c9f42;
}
.btn-green.btn-outline:hover,
input[type="submit"].btn-green.btn-outline:hover {
  color: rgba(255, 255, 255, 0.9);
  background: #2c9f42;
}
.btn-green.btn-outline.btn[disabled],
input[type="submit"].btn-green.btn-outline.btn[disabled],
.btn-green.btn-outline.btn-disabled,
input[type="submit"].btn-green.btn-outline.btn-disabled {
  background: none;
  box-shadow: none;
  color: rgba(44, 159, 66, 0.4);
  border: 1px solid rgba(44, 159, 66, 0.3);
}
.btn-green.btn-outline.btn-active,
input[type="submit"].btn-green.btn-outline.btn-active {
  background: none;
  color: rgba(44, 159, 66, 0.6);
  border: none;
  box-shadow: 0 1px 3px rgba(35, 127, 53, 0.6) inset;
}
.btn-black,
input[type="submit"].btn-black {
  color: rgba(255, 255, 255, 0.9);
  background: #0f0f0f;
}
.btn-black:hover,
input[type="submit"].btn-black:hover {
  color: rgba(255, 255, 255, 0.6);
  background: #363738;
}
.btn-black.btn-active,
input[type="submit"].btn-black.btn-active {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7) inset;
}
.btn-black.btn-active,
input[type="submit"].btn-black.btn-active,
.btn-black.btn-disabled,
input[type="submit"].btn-black.btn-disabled,
.btn-black.btn[disabled],
input[type="submit"].btn-black.btn[disabled] {
  color: rgba(255, 255, 255, 0.5);
  background: #363738;
}
.btn-black.btn-active:hover,
input[type="submit"].btn-black.btn-active:hover,
.btn-black.btn-disabled:hover,
input[type="submit"].btn-black.btn-disabled:hover,
.btn-black.btn[disabled]:hover,
input[type="submit"].btn-black.btn[disabled]:hover {
  color: rgba(255, 255, 255, 0.5);
}
.btn-black.btn-outline,
input[type="submit"].btn-black.btn-outline {
  background: none;
  border-color: #0f0f0f;
  color: #0f0f0f;
}
.btn-black.btn-outline:hover,
input[type="submit"].btn-black.btn-outline:hover {
  color: rgba(255, 255, 255, 0.9);
  background: #0f0f0f;
}
.btn-black.btn-outline.btn[disabled],
input[type="submit"].btn-black.btn-outline.btn[disabled],
.btn-black.btn-outline.btn-disabled,
input[type="submit"].btn-black.btn-outline.btn-disabled {
  background: none;
  box-shadow: none;
  color: rgba(15, 15, 15, 0.4);
  border: 1px solid rgba(15, 15, 15, 0.3);
}
.btn-black.btn-outline.btn-active,
input[type="submit"].btn-black.btn-outline.btn-active {
  background: none;
  color: rgba(15, 15, 15, 0.6);
  border: none;
  box-shadow: 0 1px 3px rgba(54, 55, 56, 0.6) inset;
}
.btn-yellow,
input[type="submit"].btn-yellow {
  color: rgba(0, 0, 0, 0.9);
  background: #ffc800;
}
.btn-yellow:hover,
input[type="submit"].btn-yellow:hover {
  color: rgba(0, 0, 0, 0.6);
  background: #cca000;
}
.btn-yellow.btn-active,
input[type="submit"].btn-yellow.btn-active {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
}
.btn-yellow.btn-active,
input[type="submit"].btn-yellow.btn-active,
.btn-yellow.btn-disabled,
input[type="submit"].btn-yellow.btn-disabled,
.btn-yellow.btn[disabled],
input[type="submit"].btn-yellow.btn[disabled] {
  color: rgba(0, 0, 0, 0.5);
  background: #cca000;
}
.btn-yellow.btn-active:hover,
input[type="submit"].btn-yellow.btn-active:hover,
.btn-yellow.btn-disabled:hover,
input[type="submit"].btn-yellow.btn-disabled:hover,
.btn-yellow.btn[disabled]:hover,
input[type="submit"].btn-yellow.btn[disabled]:hover {
  color: rgba(0, 0, 0, 0.5);
}
.btn-yellow.btn-outline,
input[type="submit"].btn-yellow.btn-outline {
  background: none;
  border-color: #ffc800;
  color: #ffc800;
}
.btn-yellow.btn-outline:hover,
input[type="submit"].btn-yellow.btn-outline:hover {
  color: rgba(0, 0, 0, 0.9);
  background: #ffc800;
}
.btn-yellow.btn-outline.btn[disabled],
input[type="submit"].btn-yellow.btn-outline.btn[disabled],
.btn-yellow.btn-outline.btn-disabled,
input[type="submit"].btn-yellow.btn-outline.btn-disabled {
  background: none;
  box-shadow: none;
  color: rgba(255, 200, 0, 0.4);
  border: 1px solid rgba(255, 200, 0, 0.3);
}
.btn-yellow.btn-outline.btn-active,
input[type="submit"].btn-yellow.btn-outline.btn-active {
  background: none;
  color: rgba(255, 200, 0, 0.6);
  border: none;
  box-shadow: 0 1px 3px rgba(204, 160, 0, 0.6) inset;
}
.btn-white,
input[type="submit"].btn-white {
  color: rgba(0, 0, 0, 0.9);
  background: #ffffff;
}
.btn-white:hover,
input[type="submit"].btn-white:hover {
  color: rgba(0, 0, 0, 0.6);
  background: #ededed;
}
.btn-white.btn-active,
input[type="submit"].btn-white.btn-active {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2) inset;
}
.btn-white.btn-active,
input[type="submit"].btn-white.btn-active,
.btn-white.btn-disabled,
input[type="submit"].btn-white.btn-disabled,
.btn-white.btn[disabled],
input[type="submit"].btn-white.btn[disabled] {
  color: rgba(0, 0, 0, 0.5);
  background: #ededed;
}
.btn-white.btn-active:hover,
input[type="submit"].btn-white.btn-active:hover,
.btn-white.btn-disabled:hover,
input[type="submit"].btn-white.btn-disabled:hover,
.btn-white.btn[disabled]:hover,
input[type="submit"].btn-white.btn[disabled]:hover {
  color: rgba(0, 0, 0, 0.5);
}
.btn-white.btn-outline,
input[type="submit"].btn-white.btn-outline {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white.btn-outline:hover,
input[type="submit"].btn-white.btn-outline:hover {
  color: rgba(0, 0, 0, 0.9);
  background: #ffffff;
}
.btn-white.btn-outline.btn[disabled],
input[type="submit"].btn-white.btn-outline.btn[disabled],
.btn-white.btn-outline.btn-disabled,
input[type="submit"].btn-white.btn-outline.btn-disabled {
  background: none;
  box-shadow: none;
  color: rgba(255, 255, 255, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.btn-white.btn-outline.btn-active,
input[type="submit"].btn-white.btn-outline.btn-active {
  background: none;
  color: rgba(255, 255, 255, 0.6);
  border: none;
  box-shadow: 0 1px 3px rgba(237, 237, 237, 0.6) inset;
}
.btn-white.btn-outline.btn-active {
  box-shadow: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 0.4875em 2.5em;
}
/*
	Buttons Group
*/
.btn-single,
.btn-group {
  display: inline-block;
  margin-right: 2px;
  vertical-align: bottom;
}
.btn-single:after,
.btn-group:after {
  content: "";
  display: table;
  clear: both;
}
.btn-single > .btn,
.btn-single > input,
.btn-group > .btn,
.btn-group > input {
  float: left;
  border-radius: 0;
  margin-left: -1px;
}
.btn-single > .btn {
  border-radius: 2px;
}
.btn-group > .btn:first-child {
  border-radius: 2px 0 0 2px;
}
.btn-group > .btn:last-child {
  border-radius: 0 2px 2px 0;
}
.btn-group > .btn.btn-round:first-child,
.btn-group > .input-search:first-child {
  border-radius: 15px 0 0 15px;
}
.btn-group > .btn.btn-round:last-child,
.btn-group > .input-search:last-child {
  border-radius: 0 15px 15px 0;
}
/* =Notifications
-----------------------------------------------------------------------------*/
.tools-alert {
  padding: 12px 15px;
  background: #f7f8f8;
  color: #0f0f0f;
  margin-bottom: 1.65em;
}
.tools-message {
  display: none;
  position: fixed;
  z-index: 100;
  top: 10px;
  right: 10px;
  max-width: 350px;
  line-height: 1.5;
  font-size: 95%;
  padding: 12px 15px;
  color: #0f0f0f;
  background: #e0e3e5;
}
.tools-message ul {
  margin: 0;
  list-style: none;
}
.tools-message-black,
.tools-message-blue,
.tools-message-red,
.tools-message-green {
  color: rgba(255, 255, 255, 0.95);
}
.tools-message-black {
  background: #0f0f0f;
}
.tools-message-blue {
  background: #2575ed;
}
.tools-message-red {
  background: #de2c3b;
}
.tools-message-yellow {
  background: #ffc800;
}
.tools-message-green {
  background: #2c9f42;
}
.tools-alert-black {
  background: #dadada;
}
.tools-alert-blue {
  background: #d3e3fb;
}
.tools-alert-red {
  background: #f8d5d8;
}
.tools-alert-yellow {
  background: #fff4cc;
}
.tools-alert-green {
  background: #d5ecd9;
}
/* =Labels
-----------------------------------------------------------------------------*/
.label,
.badge {
  background: #e0e3e5;
  font-size: 12.75px;
  display: inline-block;
  line-height: 1;
  padding: 4px 7px 3px 7px;
  color: #0f0f0f;
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;
}
.label-outline {
  background: none;
  border: 1px solid #0f0f0f;
  padding: 3px 6px 2px 6px;
}
.badge {
  border-radius: 15px;
}
.badge-small {
  font-size: 11.25px;
  padding: 3px 5px;
}
.label-black,
.label-blue,
.label-red,
.label-green,
.badge-black,
.badge-blue,
.badge-red,
.badge-green {
  color: #ffffff;
}
.label-black,
.badge-black {
  background: #0f0f0f;
}
.label-blue,
.badge-blue {
  background: #2575ed;
}
.label-red,
.badge-red {
  background: #de2c3b;
}
.label-green,
.badge-green {
  background: #2c9f42;
}
.label-yellow,
.badge-yellow {
  background: #ffc800;
}
.label-white,
.badge-white {
  background: #ffffff;
}
.label-black.label-outline,
.label-blue.label-outline,
.label-red.label-outline,
.label-green.label-outline,
.label-yellow.label-outline,
.label-white.label-outline {
  background: none;
  color: #0f0f0f;
}
.label-blue.label-outline {
  border-color: #2575ed;
  color: #2575ed;
}
.label-red.label-outline {
  border-color: #de2c3b;
  color: #de2c3b;
}
.label-green.label-outline {
  border-color: #2c9f42;
  color: #2c9f42;
}
.label-yellow.label-outline {
  border-color: #ffc800;
  color: #ffc800;
}
.label-white.label-outline {
  border-color: #ffffff;
  color: #ffffff;
}
/* =Progress
-----------------------------------------------------------------------------*/
#tools-progress {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000000;
  height: 10px;
}
#tools-progress span {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #1a52a5;
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
  -webkit-animation: progress-bar-stripes 2s linear infinite;
  -o-animation: progress-bar-stripes 2s linear infinite;
  animation: progress-bar-stripes 2s linear infinite;
  background-size: 40px 40px;
}
@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@-o-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
/* =Accordion
-----------------------------------------------------------------------------*/
.accordion-title {
  position: relative;
  display: block;
  margin: 0;
  margin-bottom: 2px;
  padding: 12px 50px 12px 18px;
  color: #000;
  text-decoration: none;
  font-weight: normal;
  font-size: 0.9375em;
  line-height: 1,4em;
  background: #f7f8f8;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.accordion-title.accordion-title-opened {
  margin-bottom: 0;
  font-weight: bold;
  background: #f0f1f2;
}
.accordion-title a,
.accordion-title:hover {
  color: #000;
  text-decoration: none;
}
.accordion-panel {
  padding: 1.65em;
  margin-bottom: 10px;
}
.accordion-toggle {
  position: absolute;
  top: 50%;
  margin-top: -8px;
  right: 20px;
  padding: 0;
  font-size: 0;
  line-height: 1;
}
.accordion-toggle-closed {
  background: #000;
  width: 1px;
  height: 15px;
  margin-left: 1px;
}
.accordion-toggle-closed:before {
  position: absolute;
  top: 7px;
  left: -7px;
  content: "";
  width: 15px;
  height: 1px;
  background: #000;
}
.accordion-toggle-opened:before {
  position: absolute;
  top: 7px;
  left: -8px;
  content: "";
  width: 15px;
  height: 1px;
  background: #000;
}
/* =Filterbox
-----------------------------------------------------------------------------*/
.filterbox {
  position: relative;
}
.filterbox input {
  padding-right: 30px;
}
.filterbox span {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 1px;
  width: 26px;
  height: 100%;
  cursor: pointer;
}
.filterbox span:after {
  content: "";
  display: inline-block;
  position: relative;
  top: 50%;
  margin-left: 8px;
  margin-top: -21px;
  width: 0;
  height: 0;
  vertical-align: middle;
  border-top: 5px solid rgba(0, 0, 0, 0.6);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}
.filterbox-list {
  z-index: 1000;
  position: absolute;
  left: 0;
  display: none;
  margin: 0;
  list-style: none;
  background: #fff;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  max-height: 250px;
  overflow: auto;
}
.filterbox-list li {
  padding: 4px 10px;
  color: #000;
  cursor: pointer;
}
.filterbox-list li:hover {
  background: #f0f1f2;
}
.filterbox-list li.active {
  background: #2575ed;
  color: #fff;
}
/* =Tooltip
-----------------------------------------------------------------------------*/
.tooltip {
  position: absolute;
  z-index: 10000;
  display: inline-block;
  color: #fff;
  padding: 2px 10px;
  font-size: 12.75px;
  line-height: 1.5em;
  max-width: 250px;
  background: #0f0f0f;
}
.tooltip-theme-red {
  background: #de2c3b;
}
.tooltip-theme-blue {
  background: #2575ed;
}
.tooltip-theme-green {
  background: #2c9f42;
}
.tooltip-theme-yellow {
  background: #ffc800;
}
.tooltip-theme-white {
  background: #ffffff;
}
.tooltip-theme-yellow,
.tooltip-theme-white {
  color: #000;
}
/* =Dropdown
-----------------------------------------------------------------------------*/
.dropdown {
  display: none;
  position: absolute;
  z-index: 102;
  top: 0;
  right: 0;
  width: 250px;
  color: #0f0f0f;
  background: #ffffff;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  overflow: auto;
}
.dropdown section {
  max-height: 250px;
  overflow: auto;
  padding: 20px;
}
.dropdown footer {
  padding: 20px;
}
ul.dropdown {
  max-height: 300px;
  list-style: none;
  margin: 0;
  line-height: 1.5;
  font-size: 95%;
  padding: 0;
}
ul.dropdown a {
  display: block;
  padding: 7px 15px;
  text-decoration: none;
  color: #0f0f0f;
}
ul.dropdown a:hover {
  background: #eee;
}
ul.dropdown li.divider {
  border-bottom: 1px solid #e2e2e2;
}
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .3em;
  vertical-align: middle;
  border-top: 5px solid;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}
.caret.caret-up {
  border-top: 0;
  border-bottom: 4px solid;
}
/* =Livesearch
-----------------------------------------------------------------------------*/
.livesearch-box {
  position: relative;
  display: inline-block;
  width: 100%;
}
.livesearch-box input {
  padding-left: 30px;
}
.livesearch-box .close {
  position: absolute;
  top: .2em;
  right: 5px;
  z-index: 2;
  padding: 4px 6px;
  line-height: 1;
  font-size: 20px;
  cursor: pointer;
  color: #000000;
  text-decoration: none;
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  opacity: 0.5;
}
.livesearch-box .close:before {
  content: '\00D7';
}
.livesearch-box .close:hover {
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  opacity: 1;
}
.livesearch-icon {
  position: absolute;
  top: 53%;
  left: 10px;
  z-index: 2;
}
.livesearch-icon:before,
.livesearch-icon:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  margin: -8px 0 0;
  background: rgba(0, 0, 0, 0.5);
}
.livesearch-icon:before {
  width: 10px;
  height: 10px;
  border: 2px solid rgba(0, 0, 0, 0.5);
  background: transparent;
  border-radius: 12px;
}
.livesearch-icon:after {
  left: 10px;
  width: 2px;
  height: 7px;
  margin-top: 0;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
/* =Upload
-----------------------------------------------------------------------------*/
.tools-droparea {
  position: relative;
  overflow: hidden;
  padding: 80px 20px;
  border: 3px dashed rgba(0, 0, 0, 0.1);
}
.tools-droparea.drag-hover {
  background: rgba(200, 222, 250, 0.75);
}
.tools-droparea.drag-drop {
  background: rgba(250, 248, 200, 0.5);
}
.tools-droparea-placeholder {
  text-align: center;
  font-size: 11px;
  color: rgba(0, 0, 0, 0.5);
}
/* =Autocomplete
-----------------------------------------------------------------------------*/
.autocomplete {
  position: absolute;
  z-index: 1000;
  left: 0;
  display: none;
  margin: 0;
  list-style: none;
  background: #fff;
  width: 250px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  max-height: 250px;
  overflow: auto;
}
.autocomplete a {
  padding: 4px 10px;
  color: #000;
  display: block;
  text-decoration: none;
}
.autocomplete a:hover {
  background: #f0f1f2;
}
.autocomplete a.active {
  background: #2575ed;
  color: #fff;
}
/* =Modal
-----------------------------------------------------------------------------*/
#modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  margin: auto;
  overflow: auto;
  width: 100%;
  height: 100%;
  background-color: #000 !important;
  filter: alpha(opacity=30);
  -moz-opacity: 0.3;
  opacity: 0.3;
  z-index: 100;
}
.modal-blur {
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}
.modal-box {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 101;
}
.modal {
  position: relative;
  margin: auto;
  margin-bottom: 20px;
  padding: 0;
  background: #fff;
  color: #000;
  box-shadow: 0 1px 70px rgba(0, 0, 0, 0.5);
}
.modal header {
  padding: 30px 40px 5px 40px;
  font-size: 18px;
  font-weight: bold;
}
.modal section {
  padding: 30px 40px 50px 40px;
}
.modal footer button {
  width: 100%;
  border-radius: 0;
}
.modal-close {
  position: absolute;
  top: 8px;
  right: 12px;
  width: 30px;
  height: 30px;
  text-align: right;
  color: #bbb;
  font-size: 30px;
  font-weight: 300;
  cursor: pointer;
}
.modal-close:hover {
  color: #000;
}
/* =Helpers
-----------------------------------------------------------------------------*/
.group:after {
  content: "";
  display: table;
  clear: both;
}
.hide {
  display: none;
}
.highlight {
  background-color: #f7f3e2;
}
.big {
  font-size: 18px;
}
.small {
  font-size: 12.75px;
}
.smaller {
  font-size: 11.25px;
}
.nowrap,
.nowrap td {
  white-space: nowrap;
}
.req,
.required {
  font-weight: normal;
  color: #de2c3b;
}
.error {
  color: #de2c3b;
}
.success {
  color: #2c9f42;
}
.text-centered {
  text-align: center;
}
.text-right {
  text-align: right;
}
.last {
  margin-right: 0 !important;
}
.pause {
  margin-bottom: 0.825em !important;
}
.end {
  margin-bottom: 0 !important;
}
.normal {
  font-weight: normal;
}
.light {
  font-weight: 300;
}
.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}
.left {
  float: left;
}
.right {
  float: right;
}
.upper {
  text-transform: uppercase;
}
.list-flat {
  margin-left: 0;
  list-style: none;
}
.color-black {
  color: #0f0f0f;
}
.color-white {
  color: #ffffff;
}
/* Colors */
.color-gray-10 {
  color: rgba(0, 0, 0, 0.1);
}
.color-gray-20 {
  color: rgba(0, 0, 0, 0.2);
}
.color-gray-30 {
  color: rgba(0, 0, 0, 0.3);
}
.color-gray-40 {
  color: rgba(0, 0, 0, 0.4);
}
.color-gray-50 {
  color: rgba(0, 0, 0, 0.5);
}
.color-gray-60 {
  color: rgba(0, 0, 0, 0.6);
}
.color-gray-70 {
  color: rgba(0, 0, 0, 0.7);
}
.color-gray-80 {
  color: rgba(0, 0, 0, 0.8);
}
.color-gray-90 {
  color: rgba(0, 0, 0, 0.9);
}
.color-white-10 {
  color: rgba(255, 255, 255, 0.1);
}
.color-white-20 {
  color: rgba(255, 255, 255, 0.2);
}
.color-white-30 {
  color: rgba(255, 255, 255, 0.3);
}
.color-white-40 {
  color: rgba(255, 255, 255, 0.4);
}
.color-white-50 {
  color: rgba(255, 255, 255, 0.5);
}
.color-white-60 {
  color: rgba(255, 255, 255, 0.6);
}
.color-white-70 {
  color: rgba(255, 255, 255, 0.7);
}
.color-white-80 {
  color: rgba(255, 255, 255, 0.8);
}
.color-white-90 {
  color: rgba(255, 255, 255, 0.9);
}
/* Responsive embedded objects */
.video-wrapper {
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
  margin-bottom: 1.65em;
}
.video-wrapper iframe,
.video-wrapper object,
.video-wrapper embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* =Responsive
-----------------------------------------------------------------------------*/
@media only screen and (max-width: 767px) {
  .left,
  .right {
    float: none;
  }
  .hide-on-mobile {
    display: none;
  }
}
/* string content */
.str {
  color: #dd1144;
}
/* a keyword */
.kwd {
  color: #333333;
}
/* a comment */
.com {
  color: #999988;
}
/* a type name */
.typ {
  color: #445588;
}
/* a literal value */
.lit {
  color: #445588;
}
/* punctuation */
.pun {
  color: #888;
}
/* lisp open bracket */
.opn {
  color: #333333;
}
/* lisp close bracket */
.clo {
  color: #333333;
}
/* a markup tag name */
.tag {
  color: #367ac3;
}
/* a markup attribute name */
.atn {
  color: #51a7c9;
}
/* a markup attribute value */
.atv {
  color: #709c1a;
}
/* a declaration */
.dec {
  color: #666;
}
/* a variable name */
.var {
  color: teal;
}
/* a function name */
.fun {
  color: #990000;
}
.linenums ol li {
  list-style-type: none;
  counter-increment: list;
  position: relative;
}
.linenums ol li:after {
  content: counter(list);
  position: absolute;
  left: -3.3em;
  border-right: 1px solid #e5e5e5;
  padding-right: 9px;
  width: 2.45em;
  text-align: right;
  color: rgba(0, 0, 0, 0.3);
  font-size: 12px;
}
/* =Grid Responsive
-----------------------------------------------------------------------------*/
@media only screen and (max-width: 767px) {
  .mobile-width-100 {
    width: 100%;
  }
  .units-row .unit-90,
  .units-row .unit-80,
  .units-row .unit-75,
  .units-row .unit-70,
  .units-row .unit-66,
  .units-row .unit-65,
  .units-row .unit-60,
  .units-row .unit-50,
  .units-row .unit-40,
  .units-row .unit-35,
  .units-row .unit-33,
  .units-row .unit-30,
  .units-row .unit-25,
  .units-row .unit-20,
  .units-row .unit-10 {
    width: 100%;
    float: none;
    margin-left: 0;
    margin-bottom: 1.65em;
  }
  .unit-push-90,
  .unit-push-80,
  .unit-push-75,
  .unit-push-70,
  .unit-push-66,
  .unit-push-65,
  .unit-push-60,
  .unit-push-50,
  .unit-push-40,
  .unit-push-35,
  .unit-push-33,
  .unit-push-30,
  .unit-push-25,
  .unit-push-20,
  .unit-push-10 {
    left: 0;
  }
  .units-row .unit-push-right {
    float: none;
  }
  .units-mobile-50 .unit-90,
  .units-mobile-50 .unit-80,
  .units-mobile-50 .unit-75,
  .units-mobile-50 .unit-70,
  .units-mobile-50 .unit-66,
  .units-mobile-50 .unit-65,
  .units-mobile-50 .unit-60,
  .units-mobile-50 .unit-40,
  .units-mobile-50 .unit-30,
  .units-mobile-50 .unit-35,
  .units-mobile-50 .unit-33,
  .units-mobile-50 .unit-25,
  .units-mobile-50 .unit-20,
  .units-mobile-50 .unit-10 {
    float: left;
    margin-left: 3%;
    width: 48.5%;
  }
  .units-mobile-50 .unit-90:first-child,
  .units-mobile-50 .unit-80:first-child,
  .units-mobile-50 .unit-75:first-child,
  .units-mobile-50 .unit-70:first-child,
  .units-mobile-50 .unit-66:first-child,
  .units-mobile-50 .unit-65:first-child,
  .units-mobile-50 .unit-60:first-child,
  .units-mobile-50 .unit-40:first-child,
  .units-mobile-50 .unit-35:first-child,
  .units-mobile-50 .unit-30:first-child,
  .units-mobile-50 .unit-33:first-child,
  .units-mobile-50 .unit-25:first-child,
  .units-mobile-50 .unit-20:first-child,
  .units-mobile-50 .unit-10:first-child {
    margin-left: 0;
  }
}
/* =Blocks Responsive
-----------------------------------------------------------------------------*/
@media only screen and (max-width: 767px) {
  .blocks-2,
  .blocks-3,
  .blocks-4,
  .blocks-5,
  .blocks-6 {
    margin-left: 0;
    margin-bottom: 1.65em;
  }
  .blocks-2 > li,
  .blocks-3 > li,
  .blocks-4 > li,
  .blocks-5 > li,
  .blocks-6 > li {
    float: none;
    margin-left: 0;
    width: 100%;
  }
  .blocks-mobile-50 > li,
  .blocks-mobile-33 > li {
    float: left;
    margin-left: 3%;
  }
  .blocks-mobile-33,
  .blocks-mobile-50 {
    margin-left: -3%;
  }
  .blocks-mobile-50 > li {
    width: 47%;
  }
  .blocks-mobile-33 > li {
    width: 30.33333333%;
  }
}
/* =Typography Responsive
-----------------------------------------------------------------------------*/
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  h1 {
    font-size: 2.25em;
    line-height: 1.125;
  }
  h2 {
    font-size: 1.5em;
    line-height: 1.25;
  }
  h3 {
    font-size: 1.3125em;
    line-height: 1.25;
  }
  h4 {
    font-size: 1.125em;
    line-height: 1.22222222;
  }
  h5 {
    font-size: 1em;
  }
  h6 {
    font-size: 0.75em;
  }
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  h1 {
    font-size: 2.25em;
    line-height: 1.25;
  }
  h2 {
    font-size: 1.5em;
    line-height: 1.15384615;
  }
  h3 {
    font-size: 1.3125em;
    line-height: 1.13636364;
  }
  h4 {
    font-size: 1.125em;
    line-height: 1.11111111;
  }
  h5 {
    font-size: 1em;
  }
  h6 {
    font-size: 0.75em;
  }
  .lead {
    font-size: 1.2em;
  }
  ul,
  ol,
  ul ul,
  ol ol,
  ul ol,
  ol ul {
    margin-left: 1.65em;
  }
  blockquote {
    margin-left: 0;
  }
}
/* =Navigation Responsive
-----------------------------------------------------------------------------*/
@media only screen and (max-width: 767px) {
  .navbar.navbar-left,
  .navbar.navbar-right,
  .navbar li,
  .navbar.navbar-left li,
  .navbar.navbar-right li {
    float: none;
    text-align: left;
    width: auto;
  }
  .navbar li,
  .navbar.navbar-right li {
    margin-left: 0;
    margin-right: 0;
  }
  .fullwidth ul,
  .fullwidth li {
    width: auto;
  }
  .fullwidth li {
    display: block;
  }
}
/* =Forms Responsive
-----------------------------------------------------------------------------*/
@media only screen and (max-width: 767px) {
  .forms-list label {
    display: inline-block;
  }
}
@media print {
  * {
    text-shadow: none !important;
    color: #000 !important;
    background: transparent !important;
    box-shadow: none !important;
    font-size: 12pt;
  }
  .h1,
  h1 {
    font-size: 36pt;
  }
  .h2,
  h2 {
    font-size: 24pt;
  }
  .h3,
  h3 {
    font-size: 18pt;
  }
  .h4,
  h4 {
    font-size: 14pt;
  }
  .h5,
  h5 {
    font-size: 12pt;
  }
  .h6,
  h6 {
    font-size: 12pt;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    page-break-inside: avoid;
  }
  blockquote {
    border: none;
    font-style: italic;
  }
  img {
    max-width: 100% !important;
  }
  select {
    background: #fff !important;
  }
}
/* TYPO */
.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}
.uppercase {
  text-transform: uppercase;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.hide-text {
  text-indent: -5000px;
  font-size: 0;
}
.pointer {
  cursor: pointer;
}
/* Layout */
.border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.last {
  border: 0!important;
  margin-right: 0;
}
.btn {
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.flex-wrap-center {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;
  -webkit-align-content: center;
  -moz-align-content: center;
  -ms-align-content: center;
  align-content: center;
}
.flex-wrap-left {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-content: center;
  -moz-align-content: center;
  -ms-align-content: center;
  align-content: center;
}
.flex-wrap-right {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-align-content: center;
  -moz-align-content: center;
  -ms-align-content: center;
  align-content: center;
}
.flex-wrap-center-vertical {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-align-content: center;
  -moz-align-content: center;
  -ms-align-content: center;
  align-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
.table-row {
  display: table-row;
}
.table-cell {
  display: table-cell;
}
.vertically-bottom {
  vertical-align: bottom;
}
.vertically-centered {
  display: table-cell;
  vertical-align: middle;
}
/* BACKGROUNDS */
.solid {
  background: white;
  color: white;
}
.solid:hover {
  background: white;
  color: white;
}
.top-center {
  background-position: center top;
}
.cover {
  background-size: cover;
}
.no-repeat {
  background-repeat: no-repeat;
}
.no-bg {
  background: transparent !important;
}
.grayscale {
  -moz-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  -o-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(100%);
  filter: gray;
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
}
.no-grayscale {
  -moz-filter: none;
  -o-filter: none;
  -webkit-filter: none;
  filter: none;
}
/* POSITIONING */
.block {
  display: block;
}
.hide {
  display: none;
}
.show {
  display: block;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.fixed {
  position: fixed;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.bottom-left {
  bottom: 0;
  left: 0;
}
.bottom-right {
  bottom: 7px;
  right: 10px;
}
.desktop-hidden {
  display: none;
}
@media only screen and (max-width:768px) {
  .desktop-hidden {
    display: block;
  }
}
.mobile-hidden {
  display: block;
}
@media only screen and (max-width:768px) {
  .mobile-hidden {
    display: none;
  }
}
/* TRANS */
.spinner {
  -webkit-animation: spinner;
  -o-animation: spinner;
  animation: spinner;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}
@keyframes spinner {
  0% {
    transform: rotate(360deg);
    opacity: 1;
  }
  50% {
    transform: rotate(180deg);
    opacity: 0.5;
  }
  100% {
    transform: rotate(0deg);
    opacity: 1;
  }
}
@-webkit-keyframes spinner {
  0% {
    transform: rotate(360deg);
    opacity: 1;
  }
  50% {
    transform: rotate(180deg);
    opacity: 0.5;
  }
  100% {
    transform: rotate(0deg);
    opacity: 1;
  }
}
@-o-keyframes spinner {
  0% {
    transform: rotate(360deg);
    opacity: 1;
  }
  50% {
    transform: rotate(180deg);
    opacity: 0.5;
  }
  100% {
    transform: rotate(0deg);
    opacity: 1;
  }
}
/* =============================================
   LESS Media Queries
   compiled by John Gibby - @thatgibbyguy
   with help from Sydney Stevens - @sstev23
   ============================================= */
/* =============================================================================
   Imports
   ========================================================================== */
/*!
 *  Font Awesome 4.0.3 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url('//netdna.bootstrapcdn.com/font-awesome/4.0.3/fonts/fontawesome-webfont.eot?v=4.0.3');
  src: url('//netdna.bootstrapcdn.com/font-awesome/4.0.3/fonts/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'), url('//netdna.bootstrapcdn.com/font-awesome/4.0.3/fonts/fontawesome-webfont.woff?v=4.0.3') format('woff'), url('//netdna.bootstrapcdn.com/font-awesome/4.0.3/fonts/fontawesome-webfont.ttf?v=4.0.3') format('truetype'), url('//netdna.bootstrapcdn.com/font-awesome/4.0.3/fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.icon {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* makes the font 33% larger relative to the icon container */
.icon-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.icon-2x {
  font-size: 2em;
}
.icon-3x {
  font-size: 3em;
}
.icon-4x {
  font-size: 4em;
}
.icon-5x {
  font-size: 5em;
}
.icon-fw {
  width: 1.28571429em;
  text-align: center;
}
.icon-ul {
  padding-left: 0;
  margin-left: 2.14285714em;
  list-style-type: none;
}
.icon-ul > li {
  position: relative;
}
.icon-li {
  position: absolute;
  left: -2.14285714em;
  width: 2.14285714em;
  top: 0.14285714em;
  text-align: center;
}
.icon-li.icon-lg {
  left: -1.85714286em;
}
.icon-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eeeeee;
  border-radius: .1em;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.icon.pull-left {
  margin-right: .3em;
}
.icon.pull-right {
  margin-left: .3em;
}
.icon-spin {
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}
@-ms-keyframes spin {
  0% {
    -ms-transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
.icon-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.icon-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.icon-rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}
.icon-flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
  -webkit-transform: scale(-1, 1);
  -moz-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.icon-flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);
  -webkit-transform: scale(1, -1);
  -moz-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  transform: scale(1, -1);
}
.icon-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}
.icon-stack-1x,
.icon-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}
.icon-stack-1x {
  line-height: inherit;
}
.icon-stack-2x {
  font-size: 2em;
}
.icon-inverse {
  color: #ffffff;
}
/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
.icon-glass:before {
  content: "\f000";
}
.icon-music:before {
  content: "\f001";
}
.icon-search:before {
  content: "\f002";
}
.icon-envelope-o:before {
  content: "\f003";
}
.icon-heart:before {
  content: "\f004";
}
.icon-star:before {
  content: "\f005";
}
.icon-star-o:before {
  content: "\f006";
}
.icon-user:before {
  content: "\f007";
}
.icon-film:before {
  content: "\f008";
}
.icon-th-large:before {
  content: "\f009";
}
.icon-th:before {
  content: "\f00a";
}
.icon-th-list:before {
  content: "\f00b";
}
.icon-check:before {
  content: "\f00c";
}
.icon-times:before {
  content: "\f00d";
}
.icon-search-plus:before {
  content: "\f00e";
}
.icon-search-minus:before {
  content: "\f010";
}
.icon-power-off:before {
  content: "\f011";
}
.icon-signal:before {
  content: "\f012";
}
.icon-gear:before,
.icon-cog:before {
  content: "\f013";
}
.icon-trash-o:before {
  content: "\f014";
}
.icon-home:before {
  content: "\f015";
}
.icon-file-o:before {
  content: "\f016";
}
.icon-clock-o:before {
  content: "\f017";
}
.icon-road:before {
  content: "\f018";
}
.icon-download:before {
  content: "\f019";
}
.icon-arrow-circle-o-down:before {
  content: "\f01a";
}
.icon-arrow-circle-o-up:before {
  content: "\f01b";
}
.icon-inbox:before {
  content: "\f01c";
}
.icon-play-circle-o:before {
  content: "\f01d";
}
.icon-rotate-right:before,
.icon-repeat:before {
  content: "\f01e";
}
.icon-refresh:before {
  content: "\f021";
}
.icon-list-alt:before {
  content: "\f022";
}
.icon-lock:before {
  content: "\f023";
}
.icon-flag:before {
  content: "\f024";
}
.icon-headphones:before {
  content: "\f025";
}
.icon-volume-off:before {
  content: "\f026";
}
.icon-volume-down:before {
  content: "\f027";
}
.icon-volume-up:before {
  content: "\f028";
}
.icon-qrcode:before {
  content: "\f029";
}
.icon-barcode:before {
  content: "\f02a";
}
.icon-tag:before {
  content: "\f02b";
}
.icon-tags:before {
  content: "\f02c";
}
.icon-book:before {
  content: "\f02d";
}
.icon-bookmark:before {
  content: "\f02e";
}
.icon-print:before {
  content: "\f02f";
}
.icon-camera:before {
  content: "\f030";
}
.icon-font:before {
  content: "\f031";
}
.icon-bold:before {
  content: "\f032";
}
.icon-italic:before {
  content: "\f033";
}
.icon-text-height:before {
  content: "\f034";
}
.icon-text-width:before {
  content: "\f035";
}
.icon-align-left:before {
  content: "\f036";
}
.icon-align-center:before {
  content: "\f037";
}
.icon-align-right:before {
  content: "\f038";
}
.icon-align-justify:before {
  content: "\f039";
}
.icon-list:before {
  content: "\f03a";
}
.icon-dedent:before,
.icon-outdent:before {
  content: "\f03b";
}
.icon-indent:before {
  content: "\f03c";
}
.icon-video-camera:before {
  content: "\f03d";
}
.icon-picture-o:before {
  content: "\f03e";
}
.icon-pencil:before {
  content: "\f040";
}
.icon-map-marker:before {
  content: "\f041";
}
.icon-adjust:before {
  content: "\f042";
}
.icon-tint:before {
  content: "\f043";
}
.icon-edit:before,
.icon-pencil-square-o:before {
  content: "\f044";
}
.icon-share-square-o:before {
  content: "\f045";
}
.icon-check-square-o:before {
  content: "\f046";
}
.icon-arrows:before {
  content: "\f047";
}
.icon-step-backward:before {
  content: "\f048";
}
.icon-fast-backward:before {
  content: "\f049";
}
.icon-backward:before {
  content: "\f04a";
}
.icon-play:before {
  content: "\f04b";
}
.icon-pause:before {
  content: "\f04c";
}
.icon-stop:before {
  content: "\f04d";
}
.icon-forward:before {
  content: "\f04e";
}
.icon-fast-forward:before {
  content: "\f050";
}
.icon-step-forward:before {
  content: "\f051";
}
.icon-eject:before {
  content: "\f052";
}
.icon-chevron-left:before {
  content: "\f053";
}
.icon-chevron-right:before {
  content: "\f054";
}
.icon-plus-circle:before {
  content: "\f055";
}
.icon-minus-circle:before {
  content: "\f056";
}
.icon-times-circle:before {
  content: "\f057";
}
.icon-check-circle:before {
  content: "\f058";
}
.icon-question-circle:before {
  content: "\f059";
}
.icon-info-circle:before {
  content: "\f05a";
}
.icon-crosshairs:before {
  content: "\f05b";
}
.icon-times-circle-o:before {
  content: "\f05c";
}
.icon-check-circle-o:before {
  content: "\f05d";
}
.icon-ban:before {
  content: "\f05e";
}
.icon-arrow-left:before {
  content: "\f060";
}
.icon-arrow-right:before {
  content: "\f061";
}
.icon-arrow-up:before {
  content: "\f062";
}
.icon-arrow-down:before {
  content: "\f063";
}
.icon-mail-forward:before,
.icon-share:before {
  content: "\f064";
}
.icon-expand:before {
  content: "\f065";
}
.icon-compress:before {
  content: "\f066";
}
.icon-plus:before {
  content: "\f067";
}
.icon-minus:before {
  content: "\f068";
}
.icon-asterisk:before {
  content: "\f069";
}
.icon-exclamation-circle:before {
  content: "\f06a";
}
.icon-gift:before {
  content: "\f06b";
}
.icon-leaf:before {
  content: "\f06c";
}
.icon-fire:before {
  content: "\f06d";
}
.icon-eye:before {
  content: "\f06e";
}
.icon-eye-slash:before {
  content: "\f070";
}
.icon-warning:before,
.icon-exclamation-triangle:before {
  content: "\f071";
}
.icon-plane:before {
  content: "\f072";
}
.icon-calendar:before {
  content: "\f073";
}
.icon-random:before {
  content: "\f074";
}
.icon-comment:before {
  content: "\f075";
}
.icon-magnet:before {
  content: "\f076";
}
.icon-chevron-up:before {
  content: "\f077";
}
.icon-chevron-down:before {
  content: "\f078";
}
.icon-retweet:before {
  content: "\f079";
}
.icon-shopping-cart:before {
  content: "\f07a";
}
.icon-folder:before {
  content: "\f07b";
}
.icon-folder-open:before {
  content: "\f07c";
}
.icon-arrows-v:before {
  content: "\f07d";
}
.icon-arrows-h:before {
  content: "\f07e";
}
.icon-bar-chart-o:before {
  content: "\f080";
}
.icon-twitter-square:before {
  content: "\f081";
}
.icon-facebook-square:before {
  content: "\f082";
}
.icon-camera-retro:before {
  content: "\f083";
}
.icon-key:before {
  content: "\f084";
}
.icon-gears:before,
.icon-cogs:before {
  content: "\f085";
}
.icon-comments:before {
  content: "\f086";
}
.icon-thumbs-o-up:before {
  content: "\f087";
}
.icon-thumbs-o-down:before {
  content: "\f088";
}
.icon-star-half:before {
  content: "\f089";
}
.icon-heart-o:before {
  content: "\f08a";
}
.icon-sign-out:before {
  content: "\f08b";
}
.icon-linkedin-square:before {
  content: "\f08c";
}
.icon-thumb-tack:before {
  content: "\f08d";
}
.icon-external-link:before {
  content: "\f08e";
}
.icon-sign-in:before {
  content: "\f090";
}
.icon-trophy:before {
  content: "\f091";
}
.icon-github-square:before {
  content: "\f092";
}
.icon-upload:before {
  content: "\f093";
}
.icon-lemon-o:before {
  content: "\f094";
}
.icon-phone:before {
  content: "\f095";
}
.icon-square-o:before {
  content: "\f096";
}
.icon-bookmark-o:before {
  content: "\f097";
}
.icon-phone-square:before {
  content: "\f098";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-github:before {
  content: "\f09b";
}
.icon-unlock:before {
  content: "\f09c";
}
.icon-credit-card:before {
  content: "\f09d";
}
.icon-rss:before {
  content: "\f09e";
}
.icon-hdd-o:before {
  content: "\f0a0";
}
.icon-bullhorn:before {
  content: "\f0a1";
}
.icon-bell:before {
  content: "\f0f3";
}
.icon-certificate:before {
  content: "\f0a3";
}
.icon-hand-o-right:before {
  content: "\f0a4";
}
.icon-hand-o-left:before {
  content: "\f0a5";
}
.icon-hand-o-up:before {
  content: "\f0a6";
}
.icon-hand-o-down:before {
  content: "\f0a7";
}
.icon-arrow-circle-left:before {
  content: "\f0a8";
}
.icon-arrow-circle-right:before {
  content: "\f0a9";
}
.icon-arrow-circle-up:before {
  content: "\f0aa";
}
.icon-arrow-circle-down:before {
  content: "\f0ab";
}
.icon-globe:before {
  content: "\f0ac";
}
.icon-wrench:before {
  content: "\f0ad";
}
.icon-tasks:before {
  content: "\f0ae";
}
.icon-filter:before {
  content: "\f0b0";
}
.icon-briefcase:before {
  content: "\f0b1";
}
.icon-arrows-alt:before {
  content: "\f0b2";
}
.icon-group:before,
.icon-users:before {
  content: "\f0c0";
}
.icon-chain:before,
.icon-link:before {
  content: "\f0c1";
}
.icon-cloud:before {
  content: "\f0c2";
}
.icon-flask:before {
  content: "\f0c3";
}
.icon-cut:before,
.icon-scissors:before {
  content: "\f0c4";
}
.icon-copy:before,
.icon-files-o:before {
  content: "\f0c5";
}
.icon-paperclip:before {
  content: "\f0c6";
}
.icon-save:before,
.icon-floppy-o:before {
  content: "\f0c7";
}
.icon-square:before {
  content: "\f0c8";
}
.icon-bars:before {
  content: "\f0c9";
}
.icon-list-ul:before {
  content: "\f0ca";
}
.icon-list-ol:before {
  content: "\f0cb";
}
.icon-strikethrough:before {
  content: "\f0cc";
}
.icon-underline:before {
  content: "\f0cd";
}
.icon-table:before {
  content: "\f0ce";
}
.icon-magic:before {
  content: "\f0d0";
}
.icon-truck:before {
  content: "\f0d1";
}
.icon-pinterest:before {
  content: "\f0d2";
}
.icon-pinterest-square:before {
  content: "\f0d3";
}
.icon-google-plus-square:before {
  content: "\f0d4";
}
.icon-google-plus:before {
  content: "\f0d5";
}
.icon-money:before {
  content: "\f0d6";
}
.icon-caret-down:before {
  content: "\f0d7";
}
.icon-caret-up:before {
  content: "\f0d8";
}
.icon-caret-left:before {
  content: "\f0d9";
}
.icon-caret-right:before {
  content: "\f0da";
}
.icon-columns:before {
  content: "\f0db";
}
.icon-unsorted:before,
.icon-sort:before {
  content: "\f0dc";
}
.icon-sort-down:before,
.icon-sort-asc:before {
  content: "\f0dd";
}
.icon-sort-up:before,
.icon-sort-desc:before {
  content: "\f0de";
}
.icon-envelope:before {
  content: "\f0e0";
}
.icon-linkedin:before {
  content: "\f0e1";
}
.icon-rotate-left:before,
.icon-undo:before {
  content: "\f0e2";
}
.icon-legal:before,
.icon-gavel:before {
  content: "\f0e3";
}
.icon-dashboard:before,
.icon-tachometer:before {
  content: "\f0e4";
}
.icon-comment-o:before {
  content: "\f0e5";
}
.icon-comments-o:before {
  content: "\f0e6";
}
.icon-flash:before,
.icon-bolt:before {
  content: "\f0e7";
}
.icon-sitemap:before {
  content: "\f0e8";
}
.icon-umbrella:before {
  content: "\f0e9";
}
.icon-paste:before,
.icon-clipboard:before {
  content: "\f0ea";
}
.icon-lightbulb-o:before {
  content: "\f0eb";
}
.icon-exchange:before {
  content: "\f0ec";
}
.icon-cloud-download:before {
  content: "\f0ed";
}
.icon-cloud-upload:before {
  content: "\f0ee";
}
.icon-user-md:before {
  content: "\f0f0";
}
.icon-stethoscope:before {
  content: "\f0f1";
}
.icon-suitcase:before {
  content: "\f0f2";
}
.icon-bell-o:before {
  content: "\f0a2";
}
.icon-coffee:before {
  content: "\f0f4";
}
.icon-cutlery:before {
  content: "\f0f5";
}
.icon-file-text-o:before {
  content: "\f0f6";
}
.icon-building-o:before {
  content: "\f0f7";
}
.icon-hospital-o:before {
  content: "\f0f8";
}
.icon-ambulance:before {
  content: "\f0f9";
}
.icon-medkit:before {
  content: "\f0fa";
}
.icon-fighter-jet:before {
  content: "\f0fb";
}
.icon-beer:before {
  content: "\f0fc";
}
.icon-h-square:before {
  content: "\f0fd";
}
.icon-plus-square:before {
  content: "\f0fe";
}
.icon-angle-double-left:before {
  content: "\f100";
}
.icon-angle-double-right:before {
  content: "\f101";
}
.icon-angle-double-up:before {
  content: "\f102";
}
.icon-angle-double-down:before {
  content: "\f103";
}
.icon-angle-left:before {
  content: "\f104";
}
.icon-angle-right:before {
  content: "\f105";
}
.icon-angle-up:before {
  content: "\f106";
}
.icon-angle-down:before {
  content: "\f107";
}
.icon-desktop:before {
  content: "\f108";
}
.icon-laptop:before {
  content: "\f109";
}
.icon-tablet:before {
  content: "\f10a";
}
.icon-mobile-phone:before,
.icon-mobile:before {
  content: "\f10b";
}
.icon-circle-o:before {
  content: "\f10c";
}
.icon-quote-left:before {
  content: "\f10d";
}
.icon-quote-right:before {
  content: "\f10e";
}
.icon-spinner:before {
  content: "\f110";
}
.icon-circle:before {
  content: "\f111";
}
.icon-mail-reply:before,
.icon-reply:before {
  content: "\f112";
}
.icon-github-alt:before {
  content: "\f113";
}
.icon-folder-o:before {
  content: "\f114";
}
.icon-folder-open-o:before {
  content: "\f115";
}
.icon-smile-o:before {
  content: "\f118";
}
.icon-frown-o:before {
  content: "\f119";
}
.icon-meh-o:before {
  content: "\f11a";
}
.icon-gamepad:before {
  content: "\f11b";
}
.icon-keyboard-o:before {
  content: "\f11c";
}
.icon-flag-o:before {
  content: "\f11d";
}
.icon-flag-checkered:before {
  content: "\f11e";
}
.icon-terminal:before {
  content: "\f120";
}
.icon-code:before {
  content: "\f121";
}
.icon-reply-all:before {
  content: "\f122";
}
.icon-mail-reply-all:before {
  content: "\f122";
}
.icon-star-half-empty:before,
.icon-star-half-full:before,
.icon-star-half-o:before {
  content: "\f123";
}
.icon-location-arrow:before {
  content: "\f124";
}
.icon-crop:before {
  content: "\f125";
}
.icon-code-fork:before {
  content: "\f126";
}
.icon-unlink:before,
.icon-chain-broken:before {
  content: "\f127";
}
.icon-question:before {
  content: "\f128";
}
.icon-info:before {
  content: "\f129";
}
.icon-exclamation:before {
  content: "\f12a";
}
.icon-superscript:before {
  content: "\f12b";
}
.icon-subscript:before {
  content: "\f12c";
}
.icon-eraser:before {
  content: "\f12d";
}
.icon-puzzle-piece:before {
  content: "\f12e";
}
.icon-microphone:before {
  content: "\f130";
}
.icon-microphone-slash:before {
  content: "\f131";
}
.icon-shield:before {
  content: "\f132";
}
.icon-calendar-o:before {
  content: "\f133";
}
.icon-fire-extinguisher:before {
  content: "\f134";
}
.icon-rocket:before {
  content: "\f135";
}
.icon-maxcdn:before {
  content: "\f136";
}
.icon-chevron-circle-left:before {
  content: "\f137";
}
.icon-chevron-circle-right:before {
  content: "\f138";
}
.icon-chevron-circle-up:before {
  content: "\f139";
}
.icon-chevron-circle-down:before {
  content: "\f13a";
}
.icon-html5:before {
  content: "\f13b";
}
.icon-css3:before {
  content: "\f13c";
}
.icon-anchor:before {
  content: "\f13d";
}
.icon-unlock-alt:before {
  content: "\f13e";
}
.icon-bullseye:before {
  content: "\f140";
}
.icon-ellipsis-h:before {
  content: "\f141";
}
.icon-ellipsis-v:before {
  content: "\f142";
}
.icon-rss-square:before {
  content: "\f143";
}
.icon-play-circle:before {
  content: "\f144";
}
.icon-ticket:before {
  content: "\f145";
}
.icon-minus-square:before {
  content: "\f146";
}
.icon-minus-square-o:before {
  content: "\f147";
}
.icon-level-up:before {
  content: "\f148";
}
.icon-level-down:before {
  content: "\f149";
}
.icon-check-square:before {
  content: "\f14a";
}
.icon-pencil-square:before {
  content: "\f14b";
}
.icon-external-link-square:before {
  content: "\f14c";
}
.icon-share-square:before {
  content: "\f14d";
}
.icon-compass:before {
  content: "\f14e";
}
.icon-toggle-down:before,
.icon-caret-square-o-down:before {
  content: "\f150";
}
.icon-toggle-up:before,
.icon-caret-square-o-up:before {
  content: "\f151";
}
.icon-toggle-right:before,
.icon-caret-square-o-right:before {
  content: "\f152";
}
.icon-euro:before,
.icon-eur:before {
  content: "\f153";
}
.icon-gbp:before {
  content: "\f154";
}
.icon-dollar:before,
.icon-usd:before {
  content: "\f155";
}
.icon-rupee:before,
.icon-inr:before {
  content: "\f156";
}
.icon-cny:before,
.icon-rmb:before,
.icon-yen:before,
.icon-jpy:before {
  content: "\f157";
}
.icon-ruble:before,
.icon-rouble:before,
.icon-rub:before {
  content: "\f158";
}
.icon-won:before,
.icon-krw:before {
  content: "\f159";
}
.icon-bitcoin:before,
.icon-btc:before {
  content: "\f15a";
}
.icon-file:before {
  content: "\f15b";
}
.icon-file-text:before {
  content: "\f15c";
}
.icon-sort-alpha-asc:before {
  content: "\f15d";
}
.icon-sort-alpha-desc:before {
  content: "\f15e";
}
.icon-sort-amount-asc:before {
  content: "\f160";
}
.icon-sort-amount-desc:before {
  content: "\f161";
}
.icon-sort-numeric-asc:before {
  content: "\f162";
}
.icon-sort-numeric-desc:before {
  content: "\f163";
}
.icon-thumbs-up:before {
  content: "\f164";
}
.icon-thumbs-down:before {
  content: "\f165";
}
.icon-youtube-square:before {
  content: "\f166";
}
.icon-youtube:before {
  content: "\f167";
}
.icon-xing:before {
  content: "\f168";
}
.icon-xing-square:before {
  content: "\f169";
}
.icon-youtube-play:before {
  content: "\f16a";
}
.icon-dropbox:before {
  content: "\f16b";
}
.icon-stack-overflow:before {
  content: "\f16c";
}
.icon-instagram:before {
  content: "\f16d";
}
.icon-flickr:before {
  content: "\f16e";
}
.icon-adn:before {
  content: "\f170";
}
.icon-bitbucket:before {
  content: "\f171";
}
.icon-bitbucket-square:before {
  content: "\f172";
}
.icon-tumblr:before {
  content: "\f173";
}
.icon-tumblr-square:before {
  content: "\f174";
}
.icon-long-arrow-down:before {
  content: "\f175";
}
.icon-long-arrow-up:before {
  content: "\f176";
}
.icon-long-arrow-left:before {
  content: "\f177";
}
.icon-long-arrow-right:before {
  content: "\f178";
}
.icon-apple:before {
  content: "\f179";
}
.icon-windows:before {
  content: "\f17a";
}
.icon-android:before {
  content: "\f17b";
}
.icon-linux:before {
  content: "\f17c";
}
.icon-dribbble:before {
  content: "\f17d";
}
.icon-skype:before {
  content: "\f17e";
}
.icon-foursquare:before {
  content: "\f180";
}
.icon-trello:before {
  content: "\f181";
}
.icon-female:before {
  content: "\f182";
}
.icon-male:before {
  content: "\f183";
}
.icon-gittip:before {
  content: "\f184";
}
.icon-sun-o:before {
  content: "\f185";
}
.icon-moon-o:before {
  content: "\f186";
}
.icon-archive:before {
  content: "\f187";
}
.icon-bug:before {
  content: "\f188";
}
.icon-vk:before {
  content: "\f189";
}
.icon-weibo:before {
  content: "\f18a";
}
.icon-renren:before {
  content: "\f18b";
}
.icon-pagelines:before {
  content: "\f18c";
}
.icon-stack-exchange:before {
  content: "\f18d";
}
.icon-arrow-circle-o-right:before {
  content: "\f18e";
}
.icon-arrow-circle-o-left:before {
  content: "\f190";
}
.icon-toggle-left:before,
.icon-caret-square-o-left:before {
  content: "\f191";
}
.icon-dot-circle-o:before {
  content: "\f192";
}
.icon-wheelchair:before {
  content: "\f193";
}
.icon-vimeo-square:before {
  content: "\f194";
}
.icon-turkish-lira:before,
.icon-try:before {
  content: "\f195";
}
.icon-plus-square-o:before {
  content: "\f196";
}
/* =============================================================================
   Layout Code
   ========================================================================== */
/*
 * Authors: Quinton Jason @quintonjasonjr
 *
 * --------------
 *
 * Based on Kube
 * Detailed information about this CSS: http://imperavi.com/kube/
 *


/* Fonts ===================================================================== */
/* ==|== CSS Styles, IDs & Elements ===================================================== */
.width-66 {
  max-width: 600px;
}
body {
  background: url(img/crap-bg.jpg);
  background-size: cover;
}
p {
  color: #FFFFFF;
  font-family: 'Lato', sans-serif;
  margin-bottom: 2em;
}
p:last-of-type {
  margin-bottom: 4em;
}
.wrapper {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
h1.brand {
  width: 378px;
  height: 81px;
  margin: 0 auto 2em;
}
h1.brand a {
  background: url(img/carapace-logo.svg);
  display: block;
  width: 100%;
  height: 100%;
}
.divider {
  width: 25%;
  margin: 2em auto;
}
a.btn-white.btn-outline {
  position: relative;
  top: -1px;
  padding: 0.4875em 2em;
}
footer {
  border-top: 1px solid white;
}
.footer-phone li {
  display: inline-block;
  color: #FFFFFF;
  font-family: 'Lato', sans-serif;
  padding: .4em .5em;
}
.footer-phone li:first-of-type {
  border-right: 1px solid #808080;
}
.footer-phone li:last-of-type {
  padding-top: 0;
}
.footer-phone h4 {
  font-size: 1em;
  margin-right: .5em;
}
.footer-phone .icon {
  margin-right: .5em;
}
/* ==|== Custom LESS Variables ===================================================== */
/* ==|== Custom LESS Helpers ===================================================== */
.headlines {
  color: #FFFFFF;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}
.subhead {
  color: #FFFFFF;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-style: italic;
}
.bodycopy {
  color: #FFFFFF;
  font-family: 'Lato', sans-serif;
}
.inline {
  display: inline;
}
.no-margin {
  margin: 0;
}
.no-padding {
  padding: 0;
}
.upper {
  text-transform: uppercase;
}
.centered {
  text-align: center;
}
.italic {
  font-style: italic;
}
.no-bull {
  list-style: none;
}
.show {
  display: block;
}
.hide {
  display: none;
}
.block-center {
  margin: 0 auto;
}
/* ==|== Responsive Styles ===================================================== */
