
@import url('kube/kube.less');
@import url('less/custom-mixins.import.less');
@import url('less/less-media-queries.less');
@import url('http://fonts.googleapis.com/css?family=Lato:400,700,700italic');

/* =============================================================================
   Imports
   ========================================================================== */
// @import url('jvfloat.less');
// @import url('slick.less');
 @import url('fa/font-awesome.less');
// @import url('icomoon.less');

/* =============================================================================
   Layout Code
   ========================================================================== */
/*
 * Authors: Quinton Jason @quintonjasonjr
 *
 * --------------
 *
 * Based on Kube
 * Detailed information about this CSS: http://imperavi.com/kube/
 *


/* Fonts ===================================================================== */


/* ==|== CSS Styles, IDs & Elements ===================================================== */
.width-66{ max-width: 600px; }

body{ background: url(img/crap-bg.jpg); background-size: cover; }

p{ .bodycopy; margin-bottom: 2em; 
	&:last-of-type{ margin-bottom: 4em; }
}

.wrapper{ .width-100; position: absolute; top: 50%; left: 50%;  -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

h1.brand{ width: 378px; height: 81px; margin: 0 auto 2em;
	a{ background: url(img/carapace-logo.svg); .block; width: 100%; height: 100%; }
}

.divider{ .width-25; margin: 2em auto; }

a.btn-white.btn-outline{ .relative; top: -1px; padding: 0.4875em 2em; }

footer{ border-top: 1px solid white; }

.footer-phone{
	li{ display: inline-block; .bodycopy; padding: .4em .5em; 
		&:first-of-type{ border-right: 1px solid #808080; }
		&:last-of-type{ padding-top: 0; }
	}
	h4{ font-size: 1em; margin-right: .5em; }
	.icon{ margin-right: .5em; }
} 

/* ==|== Custom LESS Variables ===================================================== */

@lato: 'Lato', sans-serif;

/* ==|== Custom LESS Helpers ===================================================== */

.headlines{ color: #FFFFFF; font-family: @lato; font-weight: 700; }
.subhead{ color: #FFFFFF; font-family: @lato; font-weight: bold; font-style: italic; }
.bodycopy{ color: #FFFFFF; font-family: @lato; }

.inline{ display: inline; }
.no-margin{ margin: 0; }
.no-padding{ padding: 0; }
.upper{ text-transform: uppercase; }
.centered{ text-align: center; }
.italic{ font-style: italic; }
.no-bull{ list-style: none; }
.show{ display: block; }
.hide{ display: none; }
.block-center{ margin: 0 auto; }

/* ==|== Responsive Styles ===================================================== */

@media @largeScreenOne{
}

@media @largeScreenTwo{	
}

@media @largeScreenThree{	
}

@media @genericMobile{
}

@media @genericPhablet{
}

@media @genericPhone{ 
}

